
         
        <div class="user-details">
            <h2>User Details</h2>
            <div class="detail-item">
              <label>ID:</label>
              <span>{{ userData.id }}</span>
            </div>
            <div class="detail-item">
              <label>Name:</label>
              <span>{{ userData.first_name}} {{userData.last_name}}</span>
            </div>
            
            <div class="detail-item">
              <label>Email:</label>
              <span>{{ userData.email }}</span>
            </div>
           
          </div>

          <button routerLink="/user/userm/details/list">Back to List</button>